# Dependencies
node_modules/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

.vscode

*.tsbuildinfo

# Cache
.npm
.eslintcache

build/

src/services/ai/fineTuning/new_labels.json
src/services/ai/fineTuning/labels.json